body{
	max-width:410pt;
	width: 90%;
	margin:5pt auto;
	background:#BBB;
	font-family: monospace;
}

.content{
	background:#FFF;
	padding: 5pt;
}

h1 {
	font-weight: 150%;
	font-family: monospace; 
	color:#FFF;
	font-size:400%;
	background:#000;
	padding: 5pt 0pt 5pt 20pt;
	margin: 0pt 0pt 5pt -20pt;
	width:100%;
}

h2 {
	font-weight: normal;
	font-family: monospace; 
	color:#FFF;
	font-size:200%;
	background:#888;
	padding: 5pt 0pt 5pt 20pt;
	margin: 15pt 0pt 5pt -20pt;
	width:100%;
}

textarea {
	width:100%
}

.visitors {
	height:200pt;
	overflow-y: scroll;
}

.new_message {
	width:100%;
}

.visitor_message {
	display:inline-block;
	border: 3px solid #aaa;
	color: navy;
	width:100pt;
	box-shadow: 5px 5px 10px #888888;
	height:80pt;
	margin:6pt;
	padding:6pt;
	vertical-align: middle;
	text-align: center;
}

.stats {
	border: 2px solid;
	border-collapse: collapse;
	margin-top: 10pt;
}

.stats td {
	border: 1px solid;
	padding: 2pt 20pt 2pt 2pt; 
}
